body {
  background-color: #ffb6c1;
  margin: 0;
}

.head3 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.portfolio {
  float: right;
  width: 30%;
  margin-right: 6%;
  border-radius: 5%;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 60px;
  margin: 5% 0 1% 3%;
  transition: all 0.3s ease;
}

#info {
  margin-bottom: 3%;
}

.date {
  color: darkslategray;
  font-size: 15px;
}

ul,
p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 18px;
  margin-top: 0;
}

ul {
  margin-left: 1.5%;
}

p {
  margin: 0 37.5% 0 3%;
}

h2 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 25px;
  margin: 2% 0 0 3%;
  transition: all 0.3s ease;
}

h1:hover,
h2:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.volunteer {
  margin-bottom: 2%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .portfolio {
    margin-right: 5%;
    margin-top: 10%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 22px;
  }

  p,
  ul {
    font-size: 16px;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .portfolio {
    margin-top: 10%;
    margin-left: 7%;
    width: 45%;
  }

  h1 {
    font-size: 40px;
  }

  .date {
    font-size: 12px;
  }

  p,
  ul {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .portfolio {
    width: 80%;
    margin: 5% auto;
    float: none;
    display: block;
  }

  h1 {
    font-size: 38px;
    margin: 6% 0 2%;
    text-align: center;
  }

  #info {
    margin: 3% 5% 6%;
  }

  p {
    font-size: 14px;
    margin: 5%;
  }

  h2 {
    font-size: 19px;
    margin: 5%;
  }

  ul {
    font-size: 14px;
    margin-left: 3%;
  }
}

@media screen and (max-width: 376px) {
  .portfolio {
    width: 80%;
    margin: 10%;
    float: none;
    display: block;
  }

  h1 {
    font-size: 35px;
    margin: 8% 0 1%;
    text-align: center;
  }

  #info {
    margin: 3% 5% 8%;
  }

  p {
    font-size: 13px;
    margin: 5%;
  }

  h2 {
    font-size: 18px;
    margin: 5%;
  }

  ul {
    font-size: 13px;
    margin-left: 4%;
  }
}
