body {
  background-color: #ffb6c1;
  margin: 0px;
}

.head4 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.navMain4 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 20px;
}

.logo1 {
  width: 20%;
  height: 20%;
}

.logo2 {
  width: 21%;
  height: 20%;
}

.logo3 {
  width: 30%;
  height: 8%;
}

.logo4 {
  width: 20%;
  height: 20%;
}

.logo5 {
  width: 20%;
  height: 20%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  justify-self: center;
}

.project1 {
  background-color: #b6fff4;
  width: 80%;
  height: 84%;
  margin-left: 10%;
  margin-top: 13%;
  padding-bottom: 3%;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

.project2 {
  background-color: #b6fff4;
  width: 80%;
  height: 84%;
  margin-left: 11%;
  margin-top: 13%;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

.project3 {
  background-color: #b6fff4;
  width: 80%;
  height: 84%;
  margin-left: 10%;
  margin-top: 13%;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

.project4 {
  background-color: #b6fff4;
  width: 53%;
  height: 77%;
  margin-left: 40%;
  margin-top: 13%;
  padding-bottom: 1%;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

.project5 {
  background-color: #b6fff4;
  width: 53%;
  height: 77%;
  margin-left: 10%;
  margin-top: 13%;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 3%;
  transition: all 0.3s ease;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 17px;
  margin-right: 10%;
  margin-left: 10%;
}

.link {
  all: unset;
  color: blue;
  text-decoration: none;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  text-align: center;
  font-weight: bolder;
}

.link:hover {
  all: unset;
  color: blue;
  text-decoration: underline;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  text-align: center;
  cursor: pointer;
}

a {
  background-color: #b6c1ff;
  text-decoration: none;
  color: black;
  padding: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 30%;
  align-items: center;
  border: solid #b6c1ff;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px 3px black;
}

a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.project1:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.project2:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.project3:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.project4:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.project5:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head4 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain4 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 20px;
  }

  .link {
    all: unset;
    color: blue;
    text-decoration: none;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    text-align: center;
    font-weight: bolder;
  }

  .link:hover {
    all: unset;
    color: blue;
    text-decoration: underline;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    text-align: center;
    cursor: pointer;
  }

  .logo1 {
    width: 20%;
    height: 13%;
  }

  .logo2 {
    width: 21%;
    height: 13%;
  }

  .logo3 {
    width: 30%;
    height: 6%;
  }

  .logo4 {
    width: 20%;
    height: 13%;
  }

  .logo5 {
    width: 20%;
    height: 13%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    justify-self: center;
  }

  .project1 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 20%;
    margin-top: 15%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project2 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 15%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project3 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 10%;
    margin-top: 15%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project4 {
    background-color: #b6fff4;
    width: 47.5%;
    height: 84%;
    margin-top: 13%;
    margin-bottom: 7%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project5 {
    background-color: #b6fff4;
    width: 47.5%;
    height: 84%;
    margin-left: 13%;
    margin-top: 13%;
    margin-bottom: 7%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 0.5%;
    margin-bottom: 7%;
    transition: all 0.3s ease;
  }

  p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    font-size: 15px;
    margin-right: 3%;
    margin-left: 3%;
    padding-top: 5%;
    margin-top: 0px;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 13%;
    height: 20%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 3px 3px 3px 3px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .project1:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project3:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project5:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head4 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain4 {
    padding-top: 2.5%;
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 15px;
  }

  .link {
    all: unset;
    color: blue;
    text-decoration: none;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
  }

  .link:hover {
    all: unset;
    color: blue;
    text-decoration: underline;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
  }

  .logo1 {
    width: 20%;
    height: 11%;
  }

  .logo2 {
    width: 22%;
    height: 12%;
  }

  .logo3 {
    width: 30%;
    height: 6%;
  }

  .logo4 {
    width: 20%;
    height: 11%;
  }

  .logo5 {
    width: 20%;
    height: 12%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.5%;
    justify-self: center;
  }

  .project1 {
    background-color: #b6fff4;
    width: 77%;
    height: 91%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project2 {
    background-color: #b6fff4;
    width: 77%;
    height: 91%;
    margin-left: 12%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project3 {
    background-color: #b6fff4;
    width: 77%;
    height: 91%;
    margin-left: 8%;
    margin-top: 13%;
    margin-bottom: 6%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project4 {
    background-color: #b6fff4;
    width: 52%;
    height: 83%;
    margin-top: 13%;
    margin-left: 35%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project5 {
    background-color: #b6fff4;
    width: 52%;
    height: 83%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    margin-top: 7%;
    margin-left: 0.3%;
    margin-bottom: 7%;
    transition: all 0.3s ease;
  }

  p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    font-size: 13px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 7%;
    margin-top: 0px;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 13%;
    height: 20%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 3px 3px 3px 3px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .project1:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project3:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project5:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 376px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head4 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain4 {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 13px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .projects2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 13%;
    justify-self: center;
  }

  .project1 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project2 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project3 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project4 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-top: 13%;
    margin-left: 15%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  .project5 {
    background-color: #b6fff4;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 20%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .project1:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project3:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .project5:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}
