body {
  background-color: #ffb6c1;
  margin: 0px;
}

.head2 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.navMain2 {
  padding-top: 2.5%;
  padding-bottom: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 20px;
}

.about_me {
  background-color: #b6fff4;
  width: 75%;
  height: 130%;
  margin-right: 10%;
  margin-left: 13%;
  margin-top: 3.5%;
  margin-bottom: 3%;
  border: solid black;
  border-radius: 20px;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 60px;
  margin-top: 5%;
  text-align: center;
  transition: all 0.3s ease;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 20px;
  margin: 5%;
}

a {
  background-color: #b6c1ff;
  text-decoration: none;
  color: black;
  padding: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 30%;
  align-items: center;
  border: solid #b6c1ff;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px 3px black;
}

a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.about_me:hover {
  box-shadow: 0 0 15px #000000;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head2 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain2 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 20px;
  }

  .about_me {
    background-color: #b6fff4;
    width: 80%;
    height: 140%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 11%;
    margin-bottom: 3%;
    border: solid black;
    border-radius: 20px;
  }

  h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 60px;
    margin-top: 5%;
    transition: all 0.3s ease;
  }

  p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    font-size: 20px;
    margin: 5%;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 13%;
    height: 40%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 3px 3px 3px 3px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .about_me:hover {
    box-shadow: 0 0 15px #000000;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head2 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain2 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 15px;
  }

  .about_me {
    background-color: #b6fff4;
    width: 80%;
    height: 140%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    border: solid black;
    border-radius: 20px;
  }

  h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 50px;
    margin-top: 5%;
    transition: all 0.3s ease;
  }

  p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    font-size: 18px;
    margin: 5%;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 13%;
    height: 20%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 3px 3px 3px 3px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .about_me:hover {
    box-shadow: 0 0 15px #000000;
  }
}

@media screen and (max-width: 376px) {
  body {
    background-color: #ffb6c1;
    margin: 0px;
  }

  .head2 {
    border-bottom: solid black;
    background-color: #fff4b6;
    text-align: center;
  }

  .navMain2 {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
      Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 13px;
  }

  .about_me {
    background-color: #b6fff4;
    width: 80%;
    height: 140%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 4%;
    border: solid black;
    border-radius: 20px;
    margin-bottom: 35px;
  }

  h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 40px;
    margin-top: 10%;
    transition: all 0.3s ease;
  }

  p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
      serif;
    font-size: 13px;
    margin: 10%;
  }

  a {
    background-color: #b6c1ff;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 20%;
    align-items: center;
    border: solid #b6c1ff;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  }

  a:hover {
    font-family: Papyrus, fantasy;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
    transform: scale(1.1);
  }

  h1:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
  }

  .about_me:hover {
    box-shadow: 0 0 15px #000000;
  }
}
