body {
  background-color: #ffb6c1;
  margin: 0;
}

.head4 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.logo1 {
  width: 20%;
  height: 23%;
}
.logo2 {
  width: 21%;
  height: 24%;
}
.logo3 {
  width: 30%;
  height: 11%;
}
.logo4 {
  width: 20%;
  height: 25%;
}
.logo5 {
  width: 20%;
  height: 26%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.projects2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  justify-items: center;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
  background-color: #b6fff4;
  border: solid black;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project1 {
  width: 80%;
  height: 88%;
  margin: 13% 0 0 10%;
  padding-bottom: 3%;
}
.project2 {
  width: 80%;
  height: 88%;
  margin: 13% 0 0 11%;
}
.project3 {
  width: 80%;
  height: 88%;
  margin: 13% 0 0 10%;
}
.project4 {
  width: 53%;
  height: 81%;
  margin: 13% 0 0 40%;
  padding-bottom: 1%;
}
.project5 {
  width: 53%;
  height: 81%;
  margin: 13% 0 0 10%;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
  transform: scale(1.1);
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 25px;
  margin: 5% 0 3% 0;
  transition: all 0.3s ease;
  text-align: center;
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 14px;
  margin: 0 10%;
}

.link {
  all: unset;
  color: blue;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-weight: bolder;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

img {
  margin: 3%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo1 {
    height: 18%;
  }
  .logo2,
  .logo5 {
    height: 19%;
  }
  .logo3 {
    height: 10%;
  }
  .logo4 {
    height: 17%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 18px;
  }
  .projects2 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 18px;
  }
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    width: 72%;
    height: auto;
    margin-left: 1%;
    margin-top: 10%;
    padding-bottom: 4%;
  }
  h1 {
    font-size: 23px;
  }
  p {
    font-size: 15px;
    margin: 0 5%;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .logo1 {
    height: 11%;
  }
  .logo2 {
    height: 12%;
  }
  .logo3 {
    height: 6%;
  }
  .logo4 {
    height: 11%;
  }
  .logo5 {
    height: 12%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }
  .projects2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }
  .project1,
  .project2,
  .project3 {
    width: 77%;
    height: 91%;
    margin-left: 12%;
  }
  .project4,
  .project5 {
    width: 52%;
    height: 83%;
  }
  .project4 {
    margin-left: 35%;
  }
  .project5 {
    margin-left: 15%;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
    margin: 0 5%;
    padding-top: 7%;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .logo1 {
    height: 23%;
  }
  .logo2,
  .logo5 {
    height: 25%;
  }
  .logo4 {
    height: 23%;
  }
  .logo3 {
    height: 10%;
  }
  .projects,
  .projects2 {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    margin-top: 12%;
    padding-bottom: 5%;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    margin: 0 5%;
    padding-top: 5%;
  }
}

@media screen and (max-width: 376px) {
  .logo1 {
    height: 15%;
  }
  .logo2 {
    height: 19%;
  }
  .logo3 {
    height: 8%;
  }
  .logo4 {
    height: 15%;
  }
  .logo5 {
    height: 17%;
  }
  .projects,
  .projects2 {
    grid-template-columns: 1fr;
  }
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
  }
}
