body {
  background-color: #ffb6c1;
  margin: 0;
}

.head3 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.navMain3 {
  padding: 2.5% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, serif;
  font-size: 20px;
}

.portfolio {
  float: right;
  width: 30%;
  margin-right: 6%;
  border-radius: 5%;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 60px;
  margin: 5% 0 1% 3%;
  transition: all 0.3s ease;
}

#info {
  margin-bottom: 3%;
}

.date {
  color: darkslategray;
  font-size: 15px;
}

ul,
p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 18px;
  margin-top: 0;
}

ul {
  margin-left: 1.5%;
}

p {
  margin: 0 37.5% 0 3%;
}

h2 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 25px;
  margin: 2% 0 0 3%;
  transition: all 0.3s ease;
}

a {
  background-color: #b6c1ff;
  text-decoration: none;
  color: black;
  padding: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  border: solid #b6c1ff;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px black;
}

a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}

h1:hover,
h2:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.volunteer {
  margin-bottom: 2%;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    margin-right: 5%;
    margin-top: 10%;
  }

  a {
    width: 13%;
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  .navMain3 {
    padding-bottom: 3%;
    font-size: 15px;
  }

  .portfolio {
    margin-top: 10%;
  }

  h1 {
    font-size: 40px;
  }

  .date {
    font-size: 10px;
  }

  p,
  ul {
    font-size: 13px;
  }

  h2 {
    font-size: 20px;
  }

  a {
    width: 13%;
    height: 20%;
  }
}

@media screen and (max-width: 376px) {
  .navMain3 {
    padding: 4.5% 0;
    font-size: 13px;
  }

  .portfolio {
    width: 90%;
    margin: 5%;
    float: none;
    display: block;
  }

  h1 {
    font-size: 40px;
    margin: 8% 0 1%;
    text-align: center;
  }

  #info {
    margin: 3% 5% 8%;
  }

  p {
    font-size: 13px;
    margin: 5%;
  }

  h2 {
    font-size: 20px;
    margin: 5%;
  }

  ul {
    font-size: 13px;
    margin-left: 1.5%;
  }

  a {
    width: 20%;
    height: 20%;
    box-shadow: 1.5px 1.5px 1.5px black;
  }
}
