body {
  background-color: #ffb6c1;
  margin: 0;
}

.head2 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.about_me {
  background-color: #b6fff4;
  width: 75%;
  height: 130%;
  margin: 3.5% 10% 3% 13%;
  border: solid black;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 60px;
  margin-top: 5%;
  text-align: center;
  transition: all 0.3s ease;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 20px;
  margin: 5%;
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.about_me:hover {
  box-shadow: 0 0 15px #000;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about_me {
    width: 80%;
    height: 140%;
    margin: 8% 10% 3%;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 19px;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .about_me {
    width: 85%;
    height: 140%;
    margin: 6% auto;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .about_me {
    width: 85%;
    height: 140%;
    margin: 8% auto 30px;
  }

  h1 {
    font-size: 42px;
    margin-top: 8%;
  }

  p {
    font-size: 15px;
    margin: 8%;
  }
}

@media screen and (max-width: 376px) {
  .about_me {
    width: 85%;
    height: 140%;
    margin: 10% auto 35px;
  }

  h1 {
    font-size: 38px;
    margin-top: 10%;
  }

  p {
    font-size: 13px;
    margin: 10%;
  }
}
