body {
  background-color: #ffb6c1;
  margin: 0;
}

.head {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.navMain {
  padding: 2.5% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, serif;
  font-size: 20px;
}

.main_information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 80px;
  margin-top: 10%;
  transition: all 0.3s ease;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 25px;
  margin-right: 15%;
}

a {
  background-color: #b6c1ff;
  text-decoration: none;
  color: black;
  padding: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  border: solid #b6c1ff;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px black;
}

a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.gif {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 60px;
    margin-top: 30%;
    margin-right: 4%;
  }

  a {
    width: 13%;
    height: 40%;
  }

  .gif {
    margin-top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .navMain {
    padding-bottom: 3%;
    font-size: 15px;
  }

  h1 {
    font-size: 50px;
    margin-top: 25%;
  }

  p {
    font-size: 18px;
  }

  a {
    width: 13%;
    height: 20%;
  }

  .gif {
    margin-top: 17%;
  }
}

@media screen and (max-width: 376px) {
  .navMain {
    padding: 4.5% 0;
    font-size: 13px;
  }

  .main_information {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 25px;
    margin-top: 20%;
    padding-left: 10%;
  }

  p {
    font-size: 16px;
    margin-right: 10%;
    padding: 0 10% 10% 10%;
  }

  a {
    width: 20%;
    height: 20%;
    box-shadow: 1.5px 1.5px 1.5px black;
  }
}
