body {
  background-color: #ffb6c1;
  margin: 0;
}
.head4 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}
.navMain4 {
  padding: 2.5% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 20px;
}
.logo1 {
  width: 20%;
  height: 20%;
}
.logo2 {
  width: 21%;
  height: 20%;
}
.logo3 {
  width: 30%;
  height: 8%;
}
.logo4 {
  width: 20%;
  height: 20%;
}
.logo5 {
  width: 20%;
  height: 20%;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  justify-self: center;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
  background-color: #b6fff4;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}
.project1 {
  width: 80%;
  height: 84%;
  margin: 13% 0 0 10%;
  padding-bottom: 3%;
}
.project2 {
  width: 80%;
  height: 84%;
  margin: 13% 0 0 11%;
}
.project3 {
  width: 80%;
  height: 84%;
  margin: 13% 0 0 10%;
}
.project4 {
  width: 53%;
  height: 77%;
  margin: 13% 0 0 40%;
  padding-bottom: 1%;
}
.project5 {
  width: 53%;
  height: 77%;
  margin: 13% 0 0 10%;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 35px;
  margin: 5% 0 3% 0;
  transition: all 0.3s ease;
}
p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 17px;
  margin: 0 10%;
}
.link {
  all: unset;
  color: blue;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-weight: bolder;
  text-align: center;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  background-color: #b6c1ff;
  text-decoration: none;
  color: black;
  padding: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 30%;
  border: solid #b6c1ff;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px 3px black;
}
a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}
h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .navMain4 {
    font-size: 20px;
  }
  .logo1 {
    height: 13%;
  }
  .logo2 {
    height: 13%;
  }
  .logo3 {
    height: 6%;
  }
  .logo4,
  .logo5 {
    height: 13%;
  }
  .project1 {
    width: 70%;
    margin-left: 20%;
    height: 90%;
  }
  .project2 {
    width: 70%;
    margin-left: 15%;
    height: 90%;
  }
  .project3 {
    width: 70%;
    margin-left: 10%;
    height: 90%;
  }
  .project4,
  .project5 {
    width: 47.5%;
    height: 84%;
    margin-bottom: 7%;
  }
  h1 {
    font-size: 25px;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  p {
    font-size: 15px;
    margin: 0 3%;
    padding-top: 5%;
  }
  a {
    width: 13%;
    height: 20%;
  }
}
@media screen and (max-width: 768px) {
  .navMain4 {
    font-size: 15px;
    padding-bottom: 3%;
  }
  .link,
  .link:hover {
    font-size: 13px;
  }
  .logo1 {
    height: 11%;
  }
  .logo2 {
    height: 12%;
  }
  .logo3 {
    height: 6%;
  }
  .logo4 {
    height: 11%;
  }
  .logo5 {
    height: 12%;
  }
  .project1,
  .project2,
  .project3 {
    width: 77%;
    height: 91%;
  }
  .project1 {
    margin-left: 15%;
  }
  .project2 {
    margin-left: 12%;
  }
  .project3 {
    margin-left: 8%;
    margin-bottom: 6%;
  }
  .project4,
  .project5 {
    width: 52%;
    height: 83%;
  }
  .project4 {
    margin-left: 35%;
  }
  .project5 {
    margin-left: 15%;
  }
  h1 {
    font-size: 20px;
    margin-left: 0.3%;
  }
  p {
    font-size: 13px;
    margin: 0 5%;
    padding-top: 7%;
  }
}
@media screen and (max-width: 376px) {
  .navMain4 {
    font-size: 13px;
    padding: 4.5% 0;
  }

  .logo1 {
    height: 15%;
  }
  .logo2 {
    height: 19%;
  }
  .logo3 {
    height: 8%;
  }
  .logo4 {
    height: 15%;
  }
  .logo5 {
    height: 17%;
  }

  .projects,
  .projects2 {
    grid-template-columns: 1fr;
  }
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 13%;
  }
  a {
    width: 20%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  }
}
