body {
  background-color: #ffb6c1;
  margin: 0;
}

.head2 {
  border-bottom: solid black;
  background-color: #fff4b6;
  text-align: center;
}

.navMain2 {
  padding: 2.5% 0 3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 20px;
}

.about_me {
  background-color: #b6fff4;
  width: 75%;
  height: 130%;
  margin: 3.5% 10% 3% 13%;
  border: solid black;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 60px;
  margin-top: 5%;
  text-align: center;
  transition: all 0.3s ease;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 20px;
  margin: 5%;
}

a {
  background-color: #b6c1ff;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 10%;
  border: solid #b6c1ff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px black;
  padding: 1%;
  transition: transform 0.2s;
}

a:hover {
  font-family: Papyrus, fantasy;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #fff4b6, 0 0 5px #ffd900;
  transform: scale(1.1);
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #687eff, 0 0 5px #002aff;
}

.about_me:hover {
  box-shadow: 0 0 15px #000;
}

@media screen and (max-width: 1024px) {
  .navMain2 {
    font-size: 20px;
    padding-bottom: 2.5%;
  }
  .about_me {
    width: 80%;
    height: 140%;
    margin: 11% 10% 3%;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .navMain2 {
    font-size: 15px;
  }
  .about_me {
    width: 80%;
    height: 140%;
    margin: 4% 10%;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 376px) {
  .navMain2 {
    font-size: 13px;
    padding: 4.5% 0;
  }
  .about_me {
    width: 80%;
    height: 140%;
    margin: 10% 10% 35px;
  }
  h1 {
    font-size: 40px;
    margin-top: 10%;
  }
  p {
    font-size: 13px;
    margin: 10%;
  }
  a {
    width: 20%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  }
}
